<div class="container" ng-controller="EditCtrl">

<div class="row-fluid">
    <div class="span12">
        <h2>Редактирование задачи</h2>
        <form class="form-inline" novalidate name="frm">
            <input type="text" ng-model='item.name' name="name" required>
            <select name="type" ng-model="item.type">
                <option value="info">Info</option>
                <option value="warning">Warning</option>
                <option value="none">None</option>
                <option value="success">success</option>
                <option value="error">error</option>
            </select>
            <button type="submit" class="btn" ng-click='saveItem(index, item)' ng-disabled='!frm.$valid' value="save">Save</button>
        </form>
    </div>
</div>

</div>