<div class="container ">

    <div class="row-fluid">
        <div class="span12">
            <h2>Задачи</h2>
            <table class="table table-hover table-striped table-bordered table-condensed">
                <tr ng-show="task.getItems().length == 0">
                    <td colspan="2">
                        Задач не найдено
                    </td>
                </tr>

                <tr ng-show="task.getItems().length > 0">
                    <td>
                        Название
                    </td>
                    <td style="width: 1px;">Уд.</td>
                    <td style="width: 1px;">Ред.</td>
                </tr>

                <tbody>
                <tr ng-repeat="item in task.getItems()" class="{{item.type}}" ng-click='selectRow($event)'>
                    <td>{{item.name}}</td>
                    <td>
                        <a href="#" ng-click="task.remove($index)" class="btn btn-mini"><i class="icon-trash"></i></a>
                    </td>
                    <td>
                        <a href="#/edit/{{$index}}" class="btn btn-mini"><i class="icon-edit"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

            <div class="row-fluid">
                <div class="span12">
                    <form class="form-inline" novalidate name="frm">
                        <input type="text" ng-model='newItem.name' name="name" required>
                        <select name="" id="" ng-model="newItem.type" ng-init="newItem.type='none'">
                            <option value="info">Info</option>
                            <option value="warning">Warning</option>
                            <option value="none" selected=selected>None</option>
                            <option value="success">success</option>
                            <option value="error">error</option>
                        </select>
                        <button type="submit" class="btn" ng-click='addItem(newItem)' ng-disabled='!frm.$valid' value="add">Add</button>
                    </form>
                </div>
            </div>


</div>